<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://thymeleaf.org">
<style>
    .element {
    border:5px solid blue;
        margin-left: 50px;
        margin-right: 600px;
    }
    .inner {
        margin-left: 50px;
    }
    .logout {
        margin-right: 600px;
    }
    .submit {

    }


</style>
<head>
    <meta charset="UTF-8">
    <title>Add Post</title>

</head>
<body>
<!--<input type="button" style="background-color:black;color:white;width:150px; height:40px;" value="Click Me!!">-->
<!--<div class="logout" align="right">-->
<table>
    <td><a href="/dashboard">
        <button style="background-color:black;color:white;width:100px;height:30px;">Home</button>
    </a></td>
    <td><a href="/logout">
        <button style="background-color:black;color:white;width:100px;height:30px;">Logout</button>
    </a></td>
</table>
<h2>Create Post</h2>
<div class="element">
    <form action="/savePost" method="post" th:action="@{/savepost}" th:object=${post}>
        <div class="inner">
            <br>
            <input type="text" th:field="*{id}" hidden/>

            <label>Title:</label><br>
            <input type="text" th:field="*{title}" required/><br>

            <label>Excerpt:</label><br>
            <input type="text" th:field="*{excerpt}" required/><br>

            <div th:if="${role=='ROLE_AUTHOR'}">
                <input type="text" th:field="*{author}" hidden/><br>
            </div>

            <div th:if="${role=='ROLE_ADMIN'}">
                <label>Author:</label><br>
                <input type="text" th:field="*{author}" required/><br>
            </div>

            <label>Content:</label><br>
            <textarea type="text" th:field="*{content}" rows="10" cols="27" required></textarea> <br>

            <label>Tags:</label><br>
            <input type="text" name="helperTags" placeholder="Enter Tags With , Separated " required/><br><br>


            <input style="color:green; height:30px; width:100px" type="submit" value="Submit">
            <br><br>
        </div>
    </form>
</div>
</body>
</html>

