<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://thymeleaf.org">
<style>
    .element {
    border:5px solid blue;
        margin-left: 50px;
        margin-right: 600px;
    }
    .inner {
        margin-left: 50px;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Add Post</title>

</head>
<body>

<h2>Create Post</h2>
<div class="element">

<form action="/savepost" method="get" th:action="@{/savepost}" th:object=${post}>
<div class="inner">
    <br>
    <input type="text" th:field="*{id}" hidden/>

    <label>Title:</label><br>
    <input type="text" th:field="*{title}"/><br>

    <label>Excerpt:</label><br>
    <input type="text" th:field="*{excerpt}"/><br>

    <label>Author:</label><br>
    <input type="text" th:field="*{author}"/><br>

    <label>Content:</label><br>
    <textarea type="text" th:field="*{content}" rows="10" cols="27"></textarea> <br><br>

    <input type="submit" value="Submit">
    <br><br>
</div>
</form>
</div>
</body>
</html>