<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <style>
        .container {
        border:3px solid black;
        margin-right: 100px;
        margin-left: 100px;
        }
        .addPost {
        border:5px solid black;
        margin-left: 850px;
        margin-right: 100px;
        }
        .table {
        margin-left: 110px;
        }
        .inner {
        margin-left: 10px;
        }
        .next {
        margin-right: 150px;
        }
        .sort {
        border:3px solid blue;
        margin-left: 700px;
        margin-right: 100px;
        }
        .search {
        margin-left: 100px;
        }
        .clear {
        margin-left: 200px;
        }






    </style>
</head>
<body>

<h1 align="center">Blog List</h1>

<div align="center" class="addPost"><a href="addPost">Create New Blog</a></div>
<br>
<div class="sort">
    <table>
        <td>
            <a th:href="@{'/page/' + ${currentPage} + '?sortField=publishedAt&sortDirection=' + ${reverseSortDirection} + ${sortNo}}">Sort
                By Published Date And Time</a></td>
    </table>
</div>
<br>
<div class="search">
    <form action="/search" method="get">
        <input type="text" name="search" placeholder="Enter to search"><input type="submit" value="Search">
        <br>
        <!--        Select to filter :-->
        <!--        <select name="filter">-->
        <!--            -->
        <!--            <option th:each="post:${posts}"-->
        <!--                    th:value="${post.publishedAt}"-->
        <!--                    th:utext="${post.publishedAt}">-->
        <!--            </option>-->
        <!--            <option th:each="post:${posts}"-->
        <!--                    th:value="${post.author}"-->
        <!--                    th:utext="${post.author}">-->
        <!--            </option>-->
        <!--            <option th:each="tag:${tags}"-->
        <!--                    th:value="${tag.name}"-->
        <!--                    th:utext="${tag.name}">-->
        <!--            </option>-->
        <!--        </select>-->
    </form>
    <form method="post" action="/filter">
        <table>
            Tags:
            <td th:each="tag:${tags}">
                <input type="checkbox" th:name="${tag.name}" th:value="${tag.name}"><span
                    th:text="${tag.name}"></span>
            </td>
        </table>
        <table>
            Author:
            <tr>
                <td th:each="author:${authors}">
                    <input type="checkbox" th:name="${author}" th:value="${author}"><span th:text="${author}"></span>
                </td>
            </tr>
        </table>
        <table>
            Date:
            <tr>
                <td>
                    <input type="date" name="dateFrom">
                </td>
                <td>
                    <input type="date" name="dateTo">
                </td>
            </tr>
        </table>

        <input type="submit" value="Filter">
    </form>


    <form action="/dashboard"><input type="submit" value="Reset"></form>
</div>
<br><br>

<div th:each="post : ${posts}">
    <div class="container">
        <span th:text="${post.id}" hidden></span><br>
        <div class="inner">
            Title: <span th:text="${post.title}"></span><br>
            Except: <span th:text="${post.excerpt}"></span><br>
            Author: <span th:text="${post.author}"></span><br>
            Published: <span th:text="${post.publishedAt}"></span><br>
            <table>
                <td><a th:href="@{/update(id=${post.id})}">Update</a></td>
                <td><a th:href="@{/delete(id=${post.id})}">Delete</a></td>
                <td><a th:href="@{/read(id=${post.id})}">Read</a></td>
                <br>
            </table>
        </div>
    </div>
    <br>
</div>
<table class="table">

    <div>
        <td><a class="page-link" th:if="${currentPage > 1}"
               th:href="@{'/page/'+${currentPage - 1}+ '?sortField=publishedAt&sortDirection=' + ${reverseSortDirection}}">Previous</a>
            <span th:unless="${currentPage > 1}">Previous</span>
        </td>
    </div>
    <div class="next">
        <td><a class="page-link" th:if="${currentPage < totalPages}"
               th:href="@{'/page/'+${currentPage + 1}+ '?sortField=publishedAt&sortDirection=' + ${reverseSortDirection}}">Next</a>
            <span th:unless="${currentPage < totalPages}">Next</span>
        </td>
    </div>
</table>
</body>
</html>