<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div align="left"><a href="/createblog">Create Blog</a></div>

in blogsdashboard

<h5 th:text=${posts}></h5>

<table>
<tr th:each="post : ${posts}">
    <td th:text="${post.id}">1</td>
    <td th:text="${post.id}">1</td>
    <td th:text="${post.id}">1</td>
    <td th:text="${post.id}">1</td>
    <td><a href="#" th:text="${message.title}">Title ...</a></td>
    <td th:text="${message.text}">Text ...</td>
</tr>
</table>
</body>
</html>