<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <style>
        .dashboard {
        border:5px solid blue;
        margin-left: 800px;
        margin-right: 100px;
        }
        .outer {
        border:5px solid black;
        margin-left: 100px;
        margin-right: 100px;
        }
        .tag {
        border:1px solid black;
        }
            .element {
    border:5px solid blue;
        margin-left: 50px;
        margin-right: 600px;
    }
    .inner {
        margin-left: 50px;
    }
    </style>
</head>
<body>
<h1>Aamin read post</h1>
<div class="dashboard" align="center"><br><a href="/dashboard">Home</a><br><br></div>
<br><br>
<div class="outer" align="center">
    <div align="center"><h1><span th:text="${post.title}"></span></h1><br></div>
    <table>
        <tr>
            <td>
                <span th:text="${post.author}"></span>
            </td>
            <td>
                <span th:text="${post.publishedAt}"></span>
            </td>
        </tr>
    </table>
    <br><br>
    <span th:text="${post.content}"></span><br>
    <br><br>
</div>
<div align="center">
    <h1>Tags</h1>
    <table>
        <tbody>
        <tr align="center">
            <div id="tagInner" th:each="tag: ${post.tags}">
                <td>
                    <div class="tag">
                        <snap th:text="${tag.name}"></snap>
                    </div>
                </td>
            </div>
        </tr>
        </tbody>
    </table>
</div>
<div align="center">
    <h1>Comments</h1>
    <!--    <div align="right"><a th:href="@{'/addComment/'+ ${post.id}}">Add New Comment</a></div>-->
    <table border="2" cellpadding="5">
        <thead>
        <tr align="center">
            <td>User Name</td>
            <td>User Email</td>
            <td>Comment</td>
            <td>Post On</td>
            <td>Update</td>
            <td>Delete</td>
        </tr>
        </thead>
        <div id="commentsInner" th:each="comment: ${post.comments}">
            <tbody>
            <tr align="center">
                <td>
                    <snap th:text="${comment.name}"></snap>
                </td>
                <td>
                    <snap th:text="${comment.email}"></snap>
                </td>
                <td>
                    <snap th:text="${comment.description}"></snap>
                </td>
                <td>
                    <snap th:text="${comment.createdAt}"></snap>
                </td>
                <td>
                    <a th:href="@{'/read/updatecomment/'+${comment.id}+'/'+${post.id}}">Update</a>
                </td>
                <td>
                    <a th:href="@{'/read/deletecomment/'+${comment.id}+'/'+${post.id}}">Delete</a>
                </td>
            </tr>
            </tbody>
        </div>
    </table>
    <h1>Give Comments</h1>
    <div class="element">
        <form action="" method="post" th:action="@{'/savecomment/'+${postId}}" th:object="${comment}">
            <div class="inner">
                <br>
                <input type="text" th:field="*{id}" hidden>

                <label>User Name:</label><br>
                <input type="text" th:field="*{name}" required/><br/>

                <label>User E-mail:</label><br>
                <input type="text" th:field="*{email}" required/><br/>

                <label>Comment:</label><br>
                <input type="text" th:field="*{description}" required/><br/>
                <br>
                <input type="submit" value="Save Comment"><br><br>
            </div>
        </form>
    </div>
</div>
</body>
</html>