<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .dashboard {
        border:5px solid blue;
        margin-left: 800px;
        margin-right: 100px;
        }
        .outer {
        border:5px solid black;
        margin-left: 100px;
        margin-right: 100px;
        }

    </style>
</head>
<body>
<div class="dashboard" align="center"><br><a href="/dashboard">Home</a><br><br></div>
<br><br>
<div class="outer" align="center">
    <div align="center"><h1><span th:text="${post.title}"></span></h1><br></div>
    <table>
        <tr>
            <td>
                <span th:text="${post.author}"></span>
            </td>
            <td>
                <span th:text="${post.publishedAt}"></span>
            </td>
        </tr>
    </table>
    <br><br>
    <span th:text="${post.content}"></span><br>
    <br><br>
</div>
<div align="center">
    <span th:text="${post.tags}"></span><br>
    Edit tags
</div>
<div align="center">
    <h1>Comments</h1>
    <div align="right"><a th:href="@{'/addComment/'+ ${post.id}}">Add New Comment</a></div>
    <table border="2">
        <thead>
        <tr align="center">
            <td>User Name</td>
            <td>User Email</td>
            <td>Comment</td>
            <td>Post On</td>
            <td>Update</td>
            <td>Delete</td>
        </tr>
        </thead>
        <div id="inner" th:each="comment: ${post.comments}">
            <tbody>
            <tr align="center">
                <td>
                    <snap th:text="${comment.name}"></snap>
                </td>
                <td>
                    <snap th:text="${comment.email}"></snap>
                </td>
                <td>
                    <snap th:text="${comment.oneComment}"></snap>
                </td>
                <td>
                    <snap th:text="${comment.createdAt}"></snap>
                </td>
                <td>
                    <a th:href="@{/read/updateComment/(id=${comment.id})}">Update</a>
                </td>
                <td>
                    <a th:href="@{/read/deleteComment/(id=${comment.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </div>
    </table>
</div>
</body>
</html>