<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .form {
        border:5px solid green;
        margin-left: 50px;
        margin-right: 600px;
        }
    </style>
</head>
<body>

<h1>Register</h1>
<div class="form">
    <form action="/saveuser" method="post" th:action="@{/saveuser}" th:object=${user}>

        <br>
        <label>Name:</label><br>
        <input type="text" th:field="*{name}" required/><br/>

        <label>E-mail:</label><br>
        <input type="email" th:field="*{email}" required/><br/>

        <label>Password:</label><br>
        <input type="password" th:field="*{password}" required/><br/>

        <br>
        <input type="submit" value="Register"><br><br>
    </form>
    <br>
</div>
</body>

</html>