<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://thymeleaf.org">
<style></style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
in post
${message}

<form action="/saveEdit" method="get" th:action="@{/saveEdit}" th:object=${post}>


    <label>Title:</label><br>
    <input type="text" th:field="*{title}"/><br>

    <label>Excerpt:</label><br>
    <input type="text" th:field="*{excerpt}"/><br>

    <label>Author:</label><br>
    <input type="text" th:field="*{author}"/><br>

    <label>Content:</label><br>
    <textarea type="text" th:field="*{content}" rows="10" cols="25"></textarea> <br><br>

    <input type="submit" value="Submit">

</form>
</body>
</html>