<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comment</title>
    <style>
        .element {
    border:5px solid blue;
        margin-left: 50px;
        margin-right: 600px;
    }
    .inner {
        margin-left: 50px;
    }
    </style>
</head>
<body>
<h1>Give Comments</h1>
<div class="element">
    <form action="" method="post" th:action="@{'/savecomment/update/'+${postId}}" th:object="${comment}">
        <div class="inner">
            <br>
            <input type="text" th:field="*{id}" hidden>

            <label>User Name:</label><br>
            <input type="text" th:field="*{name}" required/><br/>

            <label>User E-mail:</label><br>
            <input type="text" th:field="*{email}" required/><br/>

            <input type="text" th:field="*{createdAt}" hidden/><br/>

            <label>Comment:</label><br>
            <input type="text" th:field="*{description}" required/><br/>

            <input type="submit" value="Save Comment"><br><br>
        </div>
    </form>
</div>
</body>
</html>