<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 th:text="${invalidCredentialMessage}"></h2>
<h2 th:text="${accountCreationMessage}"></h2>
<form action="/checkcredentials" method="post">

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" placeholder="Your Email" required><br><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" placeholder="Your Password" required><br><br>

    <input type="submit" value="Login"><br><br>
</form>
<div>Don't have account <a href="/register">Create Account</a></div>
</body>
</html>